<header class="site-navigation sui-opt-in">
  <nav class="global-nav " data-navbar="global">
    <div class="nav-fluid-container">
      <%= link_to 'Home', '/index.html', class: 'global-nav_brand' %>
      <img src="//static.spiceworks.com/assets/masthead/print_logo.png" class="global-nav_print-logo">
    </div>
  </nav>
  <nav class="domestic-nav" data-sticky="true" data-navbar="domestic">
    <div class="nav-fluid-container">
      <% link_to '/index.html', class: 'domestic-nav_brand' do %>
        <div class="swoosh-logo"></div><span class="domestic-nav_title">Developers</span>
      <% end %>
      <ul class="domestic-menus">
        <li class=" domestic-menus_entry"><%= link_to 'What is Spiceworks?', "/what-is-spiceworks.html" %></li>
        <li class=" domestic-menus_entry"><%= link_to 'Getting Started', "/getting-started.html" %></li>
        <li class=" domestic-menus_entry"><%= link_to 'Documentation', "/documentation/index.html" %></li>
        <li class=" domestic-menus_entry"><%= link_to 'Downloads', "/downloads.html" %></li>
        <li class=" domestic-menus_entry"><%= link_to 'Support', "/support/index.html" %></li>
      </ul>
    </div>
  </nav>
</header>
