<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= ['Spiceworks Developers', current_page.data.title || page_title].compact.join(' - ') %></title>
    <meta name="description" content="<%= current_page.data.description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= favicon_tag 'images/favicon.gif' %>

    <%= stylesheet_link_tag "application" %>
    <%= partial 'layouts/analytics' %>
  </head>

  <body data-page-name="<%= page_classes.split.last %>" class="<%= page_classes %>">
    <%#= cms_snippet_content(:marketosignup, @cms_site) %>

    <%= partial 'layouts/nav_bar' %>

    <div class="content-wrapper">
      <%= yield %>
    </div>

    <%= partial 'layouts/footer' %>

    <%= javascript_include_tag "application" %>
  </body>
</html>
