<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Spiceworks Developers" %></title>
    <meta name="description" content="<%= current_page.data.description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag "application" %>
    <%= partial 'layouts/analytics' %>
  </head>

  <body data-page-name="<%= current_page.data.js_module %>" class="<%= page_classes %>">
    <%#= cms_snippet_content(:marketosignup, @cms_site) %>

    <%= partial 'layouts/nav_bar' %>

    <%= yield %>

    <%= partial 'layouts/footer' %>

    <%= javascript_include_tag "application" %>
  </body>
</html>
