<% wrap_layout :layout do %>
  <div class="sui-fluid-container with-sidebar with-breadcrumbs">
    <ul class="breadcrumbs">
      <li>
        <%= link_to 'Documentation', '/documentation/index.html' %>
      </li>
      <li>
        <%= link_to 'Reports', '/documentation/reports/index.html' %>
      </li>
      <li>
        <%= page_title %>
      </li>
    </ul>

    <%= sidebar_for(data.report_guides) %>

    <main class="with-left-sidebar">
      <section class="documentation-hero-header">
        <%= image_tag 'spiceworks-o.png', alt: "Spiceworks Swoosh" %>
        <h1>Spiceworks Reports</h1>
        <hr class="divider-shadow">
      </section>
      <section class="doc-content">
        <%= yield %>
      </section>
    </main>
  </div>
<% end %>
