---
title: 'Documentation'
---

<main class="sui-fluid-container">
  <section class="intro">
    <h1>Build your app on the Spiceworks Platform.</h1>
    <h2>Extend Spiceworks with plugins, reports and cloud integrations.</h2>
    <hr class="divider-shadow">
  </section>
  <section class="features">
    <figure class="square">
      <%= image_tag 'documentation/cloud-apps.png', alt: 'Cloud App Icon' %>
      <figcaption>
        <h3>Build cloud-connected apps</h3>
        <p>Build apps that connect to your cloud service <br>from within Spiceworks.</p>
        <%= link_to 'See the Documentation', '/documentation/cloud-apps/index.html', class: 'btn btn-blue' %>
        <%= image_tag 'documentation/new-badge.png', class: 'new-label', alt: 'New Label' %>
      </figcaption>
    </figure>
    <figure class="square">
      <%= image_tag 'documentation/modify-spiceworks.png', alt: 'Modify Spiceworks Icon' %>
      <figcaption>
        <h3>Modify Spiceworks</h3>
        <p>Modify the look and the feel of Spiceworks UI, create<br> dashboard widgets, or add features ot existing<br> Spicpeworks functionality.</p>
        <%= link_to 'See the Documentation', '/documentation/plugins/index.html', class: 'btn btn-blue' %>
      </figcaption>
    </figure>
    <figure class="horizontal">
      <div class="image-wrapper">
        <%= image_tag 'documentation/reports.png', alt: 'Reports Icon' %>
      </div>
      <figcaption>
        <h3>Create custom Spiceworks Reports</h3>
        <p>Want to build cool custom reports from the Spiceworks data? Hree is where to start.</p>
        <p><%= link_to 'See the Documentation', '/documentation/reports/index.html' %></p>
      </figcaption>
    </figure>
    <figure class="horizontal">
      <div class="image-wrapper">
        <%= image_tag 'documentation/share-spiceworks.png', alt: 'Share Spiceworks Icon' %>
      </div>
      <figcaption>
        <h3>Share Spiceworks on your website</h3>
        <p><%= link_to 'See the Documentation', '/documentation/share.html' %></p>
      </figcaption>
    </figure>
  </section>
</main>
