---
title: 'Share Spiceworks'
---

<div class="sui-fluid-container with-sidebar with-breadcrumbs">
  <ul class="breadcrumbs">
    <li>
      <%= link_to 'Documentation', '/documentation/index.html' %>
    </li>
    <li>
      <%= link_to current_page.data.title, '/documentation/share.html' %>
    </li>
  </ul>

  <div class="aside-wrapper">
   <aside>
     <nav class="sidebar">
       <h4>Share Spiceworks</h4>
       <ul class="nav" role="tablist">
         <li><a href="#follow">Follow Button</a></li>
         <li><a href="#login_with_spiceworks">Login With Spiceworks</a></li>
       </ul>
     </nav>
   </aside>
  </div>
  <main class="with-left-sidebar">
    <section class="documentation-hero-header">
      <%= image_tag 'spiceworks-o.png', alt: "Spiceworks Swoosh" %>
      <h1>Share Spiceworks</h1>
      <hr class="divider-shadow">
    </section>
    <section class="doc-content">
      <section class="overview">
        <div class="section-content">
          <h2 id="whats_a_spicebutton">What's a SpiceButton?</h2>
          <p>SpiceButtons are Spiceworks’ version of simple, embeddable social media buttons… specifically meant for IT. Just grab a line or two of code and you’re off and running… social IT style.</p>
        </div>
      </section>
      <section>
        <div class="section-content">
          <%= image_tag 'documentation/follow-icon.png', alt: 'Follow Icon', class: 'header-icon' %>
          <h2 id="follow">Follow</h2>
          <p>Wanna make sure IT pros to engage with you, where they work, when they're working?</p>
          <%= image_tag 'documentation/follow.png', alt: 'Spiceworks Follow SpiceButton', class: 'screenshot' %>
          <p>Use the 'Follow' social button to:</p>
          <ul>
            <li>Have IT pros follow your Spiceworks Vendor Page with one click</li>
            <li>Stream posts from your Vendor Page to their Activity Stream</li>
            <li>Have some fun—IT doesn’t have to be boring!</li>
          </ul>
          <p>Kids love to play games… none more universal than “Follow the Leader.” IT pros were kids at one time (and many still are at heart), so bring back the joy of youth and let them Follow you.</p>
          <p>Follow is a simple way for IT pros to learn more about your business… where and when they work. When IT pros follow your Vendor Page, content from your page will stream to their Activity Feed. As these IT pros engage with your Page, their social connections are notified, and can draw new followers.</p>
          <div class="instructions clearfix">
            <h5>Get the Follow social button</h5>
            <p>IT's easy to get started. Just…</p>
            <ul>
              <li>Insert your vendor page name below</li>
              <li>Hit the 'Update Code' button</li>
              <li>Grab the code and put it on your IT website</li>
            </ul>
            <p>Baam! That's IT.</p>
            <input id="vendor-name" type="text" placeholder="Enter you Spiceworks vendor page name..." />
            <button id="update-follow-button-code" data-target-element="follow-button-code" class="btn btn-sm">Update Code</button>
            <textarea id="follow-button-code"></textarea>
            <button  class="btn btn-default btn-primary btn-blue btn-sm copy-to-clipboard-btn" data-clipboard-source="follow-button-code">Copy to Clipboard</button>
            <p class="terms-of-use">By obtaining and using the SpiceButtons you agree to the <a href="http://www.spiceworks.com/developers/terms/">SpiceButtons Terms of Use</a></p>
          </div>
        </div>
      </section>
      <section>
        <div class="section-content">
          <%= image_tag 'documentation/login-icon.png', alt: 'Login Icon', class: 'header-icon' %>
          <h2 id="login_with_spiceworks">Login with Spiceworks</h2>
          <p>Make IT easy! Let IT pros use their Spiceworks IDs on your site.</p>
          <%= image_tag 'documentation/login.png', alt: 'Spiceworks Login SpiceButton', class: 'screenshot' %>
          <p>Use the 'Login with Spiceworks' button to:</p>
          <ul>
            <li>Enable IT pros to sign on or register on your site with their Spiceworks ID</li>
            <li>Simplify and socialize their experience on your site</li>
            <li>Help reduce username and password proliferation along the way</li>
          </ul>
          <p>Animal shelters ask for us to help control the pet population. We say help control username and password proliferation. Use Login with Spiceworks, and make IT easier (and more social) along the way.</p>
          <p>Login with Spiceworks is a simple way for IT pros to sign-in or join your login system, with their 'IT' social profile. IT just makes sense! Use the profile they use while doing their jobs. When IT pros log into your site with their Spiceworks IDs they bring IT with them… to you.</p>
          <div class="instructions social-buttons">
            <div id="login-button-form">
              <h5>Get the Login with Spiceworks social button</h5>
              <form accept-charset="UTF-8" action="http://pages.spiceworks.com/index.php/leadCapture/save" class="login-with-spiceworks-form" data-remote="true" method="post" role="form">
                <div>
                  <label class="sr-only" for="ApplicationURL">Main application URL</label>
                  <input name="ApplicationURL" type="url" placeholder="Main application URL"/>
                </div>
                <div>
                  <label class="sr-only" for="CallbackURL">Callback URL</label>
                  <input name="CallbackURL" type="url" placeholder="Callback URL" />
                </div>
                <div>
                  <label class="sr-only" for="EmailAddress">Email Address</label>
                  <input name="EmailAddress" type="email" placeholder="Email address" />
                </div>
                <input name="formid" type="hidden" value="1089">
                <input name="munchkinId" type="hidden" value="989-NIR-811">
                <button type="submit" class="ladda-button btn btn-default btn-primary btn-blue btn-sm" data-style="zoom-in">
                  <span class="ladda-label">Submit</span>
                  <span class="ladda-spinner"></span>
                </button>
              </form>
            </div>
            <div id="login-button-form-thank-you" class="thank-you-message">
              <h5>Thanks for your interest in making IT social!</h5>
              <p>Your message has been received and someone from our social team will be contacting you shortly.</p>
              <p>Have another application? <a href="/docs/on_your_site#login_with_spiceworks_anchor">Request login button »</a></p>
              <p>Cheers!</p>
              <p>~The Spiceworks Team</p>
            </div>
          </div>
          <p>Phew, you're done!</p>
          <p>Rough? Need a break? Go ahead… we'll help from here. Once we generate a token, we will send that back along with all the specs you need to have it up and running in no time.</p>
        </div>
      </section>
    </section>
  </main>
</div>
