<section class="intro">
  <h1>Support</h1>
  <hr class="divider-shadow">
</section>
<section class="support-options">
  <div class="sui-fluid-container columns-wrapper">
    <div class="column">
      <p>Questions on developing apps for <br>Spiceworks? We're here to help.</p>
    </div>
    <div class="column contact-support">
      <h2>Contact Support</h2>
      <%= partial 'form' %>
    </div>
    <div class="column other-options">
      <h2>Other Help Options</h2>
      <ul>
        <li><%= link_to 'FAQ »', '/support/faq.html' %></li>
        <li><a href="//community.spiceworks.com/extending-spiceworks">Developers Forum »</a></li>
        <li><a href="//community.spiceworks.com/blogs/developers/">Developers Blog »</a></li>
        <li><%= link_to 'App Brand Guide »', '/support/brand-guide.html' %></li>
        <li><%= link_to 'Terms & Conditions »', '/terms-and-conditions.html' %></li>
        <li><%= link_to 'SDK Agreement »', '/sdk-agreement.html' %></li>
        <li><%= link_to 'Privacy Policy »', 'http://www.spiceworks.com/privacy/' %></li>
        <li><a href="mailto:appcenter@spiceworks.com">App Center Team</a></li>
      </ul>
    </div>
  </div>
</section>
