<div class="with-sidebar">
  <div class="aside-wrapper">
    <aside class="affix-top">
      <nav class="sidebar">
        <h4>Other Help Options</h4>
        <ul class="nav" role="tablist">
          <li><%= link_to 'FAQ »', '/support/faq.html' %></li>
          <li><a href="//community.spiceworks.com/extending-spiceworks">Developers Forum »</a></li>
          <li><a href="//community.spiceworks.com/blogs/developers/">Developers Blog »</a></li>
          <li><%= link_to 'App Brand Guide »', '/support/brand-guide.html' %></li>
          <li><%= link_to 'Terms & Conditions »', '/terms-and-conditions.html' %></li>
          <li><%= link_to 'SDK Agreement »', '/sdk-agreement.html' %></li>
          <li><%= link_to 'Privacy Policy »', 'http://www.spiceworks.com/privacy/' %></li>
          <li><a href="mailto:appcenter@spiceworks.com">App Center Team »</a></li>
        </ul>
      </nav>
    </aside>
  </div>

  <main class="with-left-sidebar">
    <section class="documentation-hero-header">
      <%= image_tag 'spiceworks-o.png', alt: "Spiceworks Swoosh" %>
      <h1>Support</h1>
      <hr class="divider-shadow">
    </section>
    <section class="doc-content">
      <section class="contact-support">
        <p>Questions on developing apps for Spiceworks? We're here to help.</p>

        <h4>Contact Support</h4>
        <%#= partial 'form' %>
        <script src="//app-abq.marketo.com/js/forms2/js/forms2.min.js"></script>
        <form id="mktoForm_1322"></form>
        <script>MktoForms2.loadForm("//app-abq.marketo.com", "989-NIR-811", 1322);</script>

      </section>
    </section>
  </main>
</div>
